.adi {
  background-color: rgb(120, 200, 247);
  width: 700px;
  height: 900px;
}
.title {
  font-size: 40px;
  font-family: serif;
}
.h2 {
  font-weight: bold;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.profession {
  font-size: 20px;
  font-family: cursive;
  font-style: italic;
}
