.flexcontainer {
  background: rgb(190, 192, 194);
  /* padding: 10px; */
  /* height: 300px; */
  /* margin-right: 500px; */
  display: flex;

  /* flex-direction */
  /* flex-direction: column; */

  /* flex-wrap*/
  /* flex-wrap: wrap; */

  /* justify-content */
  /* justify-content: center; */

  /* align-items */
  /* align-items: center; */
  /* align-content: space-evenly; */

  /* align-content */
  /* align-content: space-between; */

  /* align-self: flex-start;*/
  flex-flow: row;
  justify-content: flex-end;
}
.flexitem {
  background: black;
  padding: 5px;
  width: 100px;
  height: 150px;
  margin-top: 10px;
  color: aliceblue;
  /* font-weight: bold; */
  /* text-align: center; */
}
